
@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../fonts/bebasneue_regular/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'farrayregular';
    src: url('../fonts/farray-webfont/farray-webfont.eot');
    src: url('../fonts/farray-webfont/farray-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/farray-webfont/farray-webfont.woff2') format('woff2'),
         url('../fonts/farray-webfont/farray-webfont.woff') format('woff'),
         url('../fonts/farray-webfont/farray-webfont.ttf') format('truetype'),
         url('../fonts/farray-webfont/farray-webfont.svg#farrayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.navbar-default {
  background-color:rgba(255, 255, 255, 0.35);

  font-family: "bebas_neuebold";
  font-size: 13pt;
  letter-spacing: 7px;
  /*height: 60px;*/
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 0px 15px;
  font-size: 18px;
  line-height: 20px;
}


.galeria-section {
    width: 100%;
    padding-bottom: 30px;
    color: #fff;
    background-color: #00e8b2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.email-section {
    width: 100%;
    height: 450px;
    color: #fff;
    background: url(../img/email.png) no-repeat center center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.premiers-section {
    padding-top: 30px;
    width: 100%;
    height: 960px;
    color: #fff;
    background: url(../img/premiers.png) no-repeat center center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.trailler-section {
    width: 100%;
    color: #fff;
    height: 932px;
    background: url(../img/trailler.png) no-repeat center center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.rodape {
    width: 100%;
    height: 100%;
    background-color: #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 0px;
    }

    .premiers-section {
        padding-top: 80px;
    }
}


.nav {
    margin-bottom: 0;
    list-style: none;
}

.navbar-default .navbar-nav>li>a{
    color:#000000;
    padding-top: 24px;
}


.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#777;background-color:transparent}


.texto-diretores {
  font-family: "bebas_neue_regularregular";
  font-size: 28pt;
  letter-spacing: 9px;
}

   .video-vimeo{
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 60px;
}



.starring{
    font-family: "farrayregular";
  font-size: 22pt;
  letter-spacing: 9px;
  color: #49287f;
}

.galeria {
  font-family: "bebas_neue_regularregular";
  font-size: 28pt;
  color: black;
  letter-spacing: 9px;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat top right scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}
@media(max-width:767px) {
    .intro {
        height: 100%;
        padding: 0px 0px 20px 0px;
    }
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 100px 0px 20px 0px;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
    .trailler-section{
        height: 1228px;
    }
    .modal-dialog {
    width: 700px;
    margin: 100px auto;
  }
}

h1,h2,h3,h4,h5,h6 {
	font-family: "bebas_neue_regularregular";
    letter-spacing: 12px;
        margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
	font-size: 40px;
    letter-spacing: 12px;
}

h2 {
    font-family: "bebas_neue_regularregular";
	font-size: 45px;
}

h3 {
    font-family: "bebas_neuebold";
	font-size: 22px;
    color: #49287f;
    letter-spacing: 9px;
}

h4 {
    font-family: "bebas_neuebold";
    font-size: 27px;
    color: #49287f;
    letter-spacing: 9px;
}

strong {
    font-family: "bebas_neuebold";
    font-size: 27px;
    color: #00e7b0;
    letter-spacing: 9px;
}


h5 {
    font-family: "bebas_neuebold";
    font-size: 17px;
    color: #49287f;
    letter-spacing: 9px;
}

h6 {
	font-size: 18px;
    font-family: "bebas_neue_regularregular";
    letter-spacing: 8px;
    padding-right: 8px;

}

@media(max-width:767px) {
   .video-vimeo{
    padding-right: 40px;
    padding-left: 40px;

    }

 }

@media(min-width:768px) {
.input-group{
    width: 70% !important;

    }

    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
width: 175px !important;
}
}



.input-group{
      margin: 0 auto;
    padding-top: 50px;
    width: 100%;

}

.input-group .form-control, .input-group-addon, .input-group-btn{
    height: 107px;
    background-color:#00e7b0;
    border: 0px;
    font-size: 22px;
    font-family: "bebas_neue_regularregular";
    letter-spacing: 9px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
    height: 107px;

        width: 100%;

    background-color: #49287f;
}

.btn-default{
    color: white;
    text-transform: uppercase;
    border: 0px solid #49287f;
    font-size: 22px;
    font-family: "bebas_neue_regularregular";
    letter-spacing: 9px;
}

.form-control{
         border-radius: 0px;
}

.btn{
         border-radius: 0px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #49287f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #49287f;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #49287f;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #49287f;
}


.button-custom{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    font-family: "bebas_neuebold";
    letter-spacing: 3px;
    width: 100%;
    height: 30px;
}

.dir{
    border-right: 0px solid #000;
}

.esq{
    border-left: 0px solid #000;
}



.linha {
    border-top: 1px solid #000!important;
    padding-top: 2px;
    padding-bottom: 4px;
    margin: 0px auto;
    width: 0px;
}

.table-pre{
    border: 1px solid black;
    border-collapse:collapse;
    border-spacing:0;
    margin: 4px auto;
    width: 100%;
    text-align: center;
        font-family: "bebas_neuebold";
    color: black;
    letter-spacing: 3px;
    border: 1px solid black;
}

.table-pre .titulo{
    font-size: 30px;
    border: 1px solid black;
    padding: 10px 0px 10px 0px;
}

.table-pre .subtitulo{
    border: 1px solid black;
    font-size: 15px;
    padding-top: 5px;
}

    .button-custom:hover,.button-custom:active,.button-custom:focus{
        background-color: #00e7b0 !important;
    }
    .ativo{
        background:#00e7b0 !important;
    }


@media(min-width:768px) {
    .button-custom{
        width: 151px;
        height: 50px;
    }

    .dir{
        border-right: 1px solid #000;
    }

    .esq{
        border-left: 1px solid #000;
    }

    .table-pre{
        border: 1px solid black;
        border-collapse:collapse;
        border-spacing:0;
        margin: 4px auto;
        width: 616px;
        text-align: center;
        font-family: "bebas_neuebold";
        color: black;
        letter-spacing: 3px;
        border: 1px solid black;
    }

    .linha {
        border-top: 1px solid #000!important;
        padding-top: 2px;
        padding-bottom: 4px;
        margin: 0px auto;
        width: 616px;
    }

}

.galeriaImg a{
    min-width: 100%;
    min-height: 100%;
}

.galeriaImg img{
    width: 100%;
    height: 100%;
}
